#fck{
  background-color: rgb(6, 9, 9);
  color: rgb(146, 162, 182);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #0d0e0c,#c35454, #4e2405); 
}
.calculator {
    display: grid;
    
  width: 95%; 
    max-width: 450px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    padding: 20px;
    background: black;
    border-radius: 15px;
    height: 95%;
}

.display {
    grid-column: span 4;
    background: linear-gradient(to left, #ac3de7,#bb6464, #0e0702);
    color: black;
    font-size: 6rem;
    text-align: right;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: right;
    direction: ltr;
    /*se*/
    
}
.display::-webkit-scrollbar {
    display: none;
}
.display{
   background: linear-gradient(to left, #bf81e1,#bb6464, #0e0702);
}
button {
    padding: 20px;
    font-size: 1.6rem;
    border: none;
    border-radius: 50%; /* Makes buttons round like iOS */
    cursor: pointer;
    background-color: #505050;
    color: white;
    transition: background 0.2s;
}

button:active {
    background-color: #707070; 
}

.equals {
    background-color: #ff9f0a;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.calculator {
    margin: auto;
}
.calculator {
    border: 10px solid rgba(46, 42, 42, 0.3); /* The physical border */
    box-shadow: 0 0 20px rgba(50, 49, 49, 0.2); /* The outer glow */
    border-radius: 24px;
}

footer {
  background-color: transparent;
    color: white;
    text-align: center;
}
#profile{
color: rgb(229, 231, 229);
}
#acc{
  background-color: red;
}
#acc:hover{
  background-color: rgb(207, 79, 79);
}
#acc:act{
  background-color: rgb(236, 145, 145);
}
#hdr{
height: 100px;
width:95%;
text-align: center;
font-size: 5.6rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #0e0804;
}